<div th:if="${success} != null">

	<div class="alert alert-success alert-dismissible">
		<div class="box-header with-border">
			<h3 class="box-title"><i class="icon fa fa-check"></i>Sucesso</h3>

			<div class="box-tools pull-right">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			</div>
		</div>
		<div class="box-body">
			<span> <strong th:text="${success}"></strong></span>
		</div>
	</div>
</div>

<div th:if="${fail} != null">
	<div class="alert alert-danger alert-dismissible">
		<div class="box-header with-border">
			<h3 class="box-title"><i class="icon fa fa-ban"></i>Falha</h3>
			<div class="box-tools pull-right">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			</div>
		</div>
		<div class="box-body">
			<span> <strong th:text="${fail}"></strong></span>
		</div>
	</div>
</div>
