<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:if="${#fields.hasAnyErrors()}" th:fragment="validacao">
		<div class="box box-danger">
			<div class="box-header with-border">
				<h3 class="box-title">Falha</h3>
				<div class="box-tools pull-right">
					<button type="button" class="btn btn-box-tool" data-widget="remove">
						<i class="fa fa-times"></i>
					</button>
				</div>
				<!-- /.box-tools -->
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div th:each="error : ${#fields.detailedErrors()}">
					<i class="icon ion-android-warning"></i> <span th:text="${error.message}"></span>
				</div>
			</div>
			<!-- /.box-body -->
		</div>
	</div>
</body>
</html>
