<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<section class="layout-content" layout:fragment="corpo">
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content container-fluid">
                <div th:replace="fragments/alert"></div>

                <form
                        th:action="@{/}"
                        th:object="${job}" method="POST" role="form">
                    <div th:replace="fragments/validacao :: validacao"></div>
                    <div class="row">
                        <!-- ./col -->
                        <div class="col-lg-3 col-xs-6">
                            <label>Nome Job</label> <input type="text" class="form-control"
                                                           id="PROJETO_NAME" th:field="*{PROJETO_NAME}"
                                                           placeholder="ex:InfoJob">
                        </div>
                    </div>
<!--                    <div class="row">-->
<!--                        <section class="content-header">-->
<!--                            Pom.xml-->
<!--                        </section>-->
<!--                        <div class="col-lg-3 col-xs-6">-->
<!--                            <label>Group id</label> <input type="text" class="form-control"-->
<!--                                                           id="GROUP_ID" th:field="*{GROUP_ID}"-->
<!--                                                           placeholder="ex:br.com.infojob">-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-xs-6">-->
<!--                            <label>Artifact id</label> <input type="text" class="form-control"-->
<!--                                                              id="ARTIFACT_ID" th:field="*{ARTIFACT_ID}"-->
<!--                                                              placeholder="ex:InfoJob">-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-xs-6">-->
<!--                            <label>Version</label> <input type="text" class="form-control"-->
<!--                                                          id="VERSION" th:field="*{VERSION}"-->
<!--                                                          placeholder="ex:0.0.0">-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-xs-6">-->
<!--                            <label>Name</label> <input type="text" class="form-control"-->
<!--                                                       id="NAME" th:field="*{NAME}"-->
<!--                                                       placeholder="ex:InfoJob">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row">
                        <section class="content-header">
                            Dependência InfoJobKernel
                        </section>
                        <div class="form-group col-lg-3 col-xs-6">
                            <label>InfoJobKernel</label>
                            <select class="form-control" id="DEPENDENCY_INFO_JOB_KERNEL"
                                    th:field="*{DEPENDENCY_INFO_JOB_KERNEL}"
                                    placeholder="VERSÃO ...">
                                <option th:value="14.07.00.00" th:text="14.07.00.00"></option>
                            </select>
                        </div>
                    </div>
<!--                    <div class="row">-->
<!--                        <section class="content-header">-->
<!--                            Propriedades do job-->
<!--                        </section>-->
<!--                        <div class="col-lg-3 col-xs-6">-->
<!--                            <label>Nome job</label> <input type="text" class="form-control"-->
<!--                                                           id="NOME_JOB" th:field="*{NOME_JOB}"-->
<!--                                                           placeholder="ex:infojob">-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-xs-6">-->
<!--                            <label>Nome grupo</label> <input type="text" class="form-control"-->
<!--                                                             id="NOME_GRUPO" th:field="*{NOME_GRUPO}"-->
<!--                                                             placeholder="ex:grupoInfojob">-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-xs-6">-->
<!--                            <label>Nome jar</label> <input type="text" class="form-control"-->
<!--                                                           id="NOME_JAR" th:field="*{NOME_JAR}"-->
<!--                                                           placeholder="ex:InfoJob">-->
<!--                        </div>-->
<!--                        <div class="col-lg-3 col-xs-6">-->
<!--                            <label>Grupo jar</label> <input type="text" class="form-control"-->
<!--                                                            id="GRUPO_JAR" th:field="*{GRUPO_JAR}"-->
<!--                                                            placeholder="ex:jarsLinhaComando">-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <button type="submit" class="btn btn-primary btn-sm">Criar</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <div th:replace="fragments/modal :: modal"></div>
</section>
</body>
</html>