<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>InfoJob | Initializr</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
            name="viewport">
    <link rel="stylesheet"
          th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <!-- Font Awesome -->
    <link rel="stylesheet"
          th:href="@{/bower_components/font-awesome/css/font-awesome.min.css}">
    <!-- Ionicons -->
    <link rel="stylesheet"
          th:href="@{/bower_components/Ionicons/css/ionicons.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" th:href="@{/dist/css/AdminLTE.min.css}">

    <link rel="stylesheet" th:href="@{/dist/css/skins/skin-blue.min.css}">
    <!-- DataTables -->
    <link rel="stylesheet"
          th:href="@{/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css}">

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="skin-blue ">
<div class="wrapper">

    <header th:replace="fragments/header :: cabecalho">
        <div>header</div>
    </header>

    <!--<aside>
        <nav th:replace="fragments/siderbar :: nav-sidebar ">
            <span>menu</span>
        </nav>
    </aside>-->

    <section layout:fragment="corpo">
        <div></div>
    </section>

    <section layout:fragment="rodape">
        <div></div>
    </section>
</div>

<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.min.js"></script>
<!-- DataTables -->
<script
        src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script
        src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script
        src="/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/bower_components/fastclick/lib/fastclick.js"></script>
<!-- page script -->
<script type="text/javascript">
		let url = '';

		$('button[id*="btn_"]').click(function() {
			try{
			const param = $(this).attr('id').split("_")[1];
			const path = location.origin;
			url = path + "/" + param;
			}catch(e){
				console.error(`Deu pau: ${e}`)
			}
		})

		$('#ok_confirm').click(function() {
			document.location.href = url;

		})
		$(function() {
			$('#lancamentos').DataTable({
				"oLanguage": {
                    "sProcessing":   "Processando...",
                    "sLengthMenu":   "Mostrar _MENU_ registros",
                    "sZeroRecords":  "Não foram encontrados resultados",
                    "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registros",
                    "sInfoFiltered": "",
                    "sInfoPostFix":  "",
                    "sSearch":       "Buscar:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext":     "Seguinte",
                        "sLast":     "Último"
                    }
                }
			})
		})


</script>
</body>
</html>